.one {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
.one a {
    color: #333;
    text-decoration: none;
    position: top;
    display: block;
    width: 250px;
  }
 .one a:hover {
    color: #607D8B;
  }

   