<br>
<form [formGroup]="profileForm" (ngSubmit)="PostData()">
  <div>  
    <label>
      <strong>Name : </strong>
      <input type="text" formControlName="name">
    </label>
  </div>
  <br>
  <div>
    <label>
      <strong> Email : </strong>
      <input type="text" formControlName="email">
    </label>
  </div>
  <br>
    <div>
        <label><strong>Feedback : </strong></label>
          <label class="md-check">
            <input type="radio" value="Great" name="feedback" formControlName="feedback">
            Great
          </label>
      
          <label class="md-check">
            <input type="radio" value="Okay" name="feedback" formControlName="feedback">     
            Okay
          </label>
        
          <label class="md-check">
            <input type="radio" value="Not Good" name="feedback" formControlName="feedback">     
            Not Good
          </label>
        
    </div>
    <br>
    <label>
        <strong> Comments : </strong>
         <textarea matInput 
          placeholder="comment" 
          formControlName="comment" 
          rows="4" cols="50"     
          >
        </textarea>
    </label>
    <br>
    <br>
      <button type="submit" [disabled]="!profileForm.valid"><strong>Submit</strong></button>
  
  </form>

  <p>
    <strong>Form Status : </strong> {{ profileForm.status }}
  </p>

  <p>
      <strong> Value : </strong>{{ profileForm.value | json }}
  </p>

 
 