<form [formGroup]="profileForm" (ngSubmit)="PostData()">
  
    <label>
      Name:
      <input type="text" formControlName="name">
    </label>
  
    <label>
      Email:
      <input type="email" formControlName="email">
    </label>

    <div>
        <label>Feedback</label>
        <div class="row">
          <label class="md-check">
            <input type="radio" value="Great" name="feedback" formControlName="feedback">
            Great
          </label>
      
          <label class="md-check">
            <input type="radio" value="Okay" name="feedback" formControlName="feedback">     
            Okay
          </label>
        
          <label class="md-check">
            <input type="radio" value="Not Good" name="feedback" formControlName="feedback">     
            Not Good
          </label>
        </div>
    </div>

    <!--<label>
        Comments:
        <input type="textarea" formControlName="Comments">
      </label>

      <button type="submit" [disabled]="!profileForm.valid">Submit</button>-->

      <label>
        Comments:
      <textarea matInput 
      placeholder="comment" 
      formControlName="comment" 
      rows="4" cols="50"     
      >
  </textarea>
</label>
<div>
<button type="submit" [disabled]="!profileForm.valid">Submit</button>
</div>
  </form>

  <p>
    Form Status: {{ profileForm.status }}
  </p>

  <p>
      Value : {{ profileForm.value | json }}
  </p>

 
 